body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

/* Header Section */
header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav a,
.slider-none a {
    text-decoration: none;
    color: black;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    bottom: -3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:active,
.slider-none a:active {
    color: red;
}

.slider-none{
    display: none;
}

#btn-sliderOpen{
    display: none;
}

@media screen and (max-width:720px) {
    nav a{
        display: none;
    }

    #btn-sliderOpen{
        display: block !important;
        font-size: 25px;
        position: fixed;
        top: 20px;
        right: 30px;
        cursor: pointer;
    }

    #btn-sliderClose{
        width: 25px;
        height: 25px;
        font-size: 20px;
        position: fixed;
        top: 30px;
        right: 30px;
        box-sizing: border-box;
        border: none;
        background: none;
        cursor: pointer;
    }

    .slider-block{
        padding-top:100px ;
        width: 80%;
        height: 100vh;
        text-align: center;
        font-size: 20px;
        background-color: rgb(161, 159, 159);
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 5;
    }


}