html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Section */
header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav a,
.slider-none a {
    text-decoration: none;
    color: black;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    bottom: -3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:active,
.slider-none a:active {
    color: red;
}

.slider-none {
    display: none;
}

#btn-sliderOpen {
    display: none;
}

/* About Section */
section {
    height: 85vh;
    margin-bottom: 20px;
}

#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-margin-top: 60px;
}

.aboutChild {
    width: 45%;
}

.image-sk img {
    width: 450px;
}

.about-sk h1 {
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    margin: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-style: italic;
    color: black;
    display: inline;
    margin-bottom: 10px;
    animation: sk-heading 4s infinite alternate;
}

@keyframes sk-heading {
    0% {
        background-color: rgb(226, 151, 151);
    }

    25% {
        background-color: rgb(159, 238, 238);
    }

    50% {
        background-color: rgb(243, 243, 137);
    }

    75% {
        background-color: rgb(166, 231, 166);
    }

    100% {
        background-color: rgb(226, 151, 151);
    }
}

.about-sk p {
    margin-top: 30px;
    font-style: italic;
    margin-top: 5px;
    font-size: 18px;
    line-height: 25px;
}

/* Skills Section */
#skills {
    scroll-margin-top: 20px;
    padding: 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.id-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    border-radius: 8px;
    padding: 10px;
}

.id-card:hover {
    background-color: rgb(43, 43, 43);
    color: white;
}

.id-card .i {
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 50px;
}

.skill-content {
    width: 80%;
}

.skill-content h3 {
    margin: 0px;
}

/* F&Q Section */
#f-q {
    scroll-margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fq {
    width: 80%;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
}

.container-fq:hover {
    background-color: rgb(43, 43, 43);
    color: white;
}

.container-fq h3 {
    margin: 0px;
}

.container-fq p {
    margin: 10px 1px;
}

@media screen and (max-width:720px) {

    .id-card,
    .container-fq {
        animation: scrolling linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

    @keyframes scrolling {
        from {
            opacity: 0;
            scale: 0.5;
        }

        to {
            opacity: 1;
            scale: 1;
        }
    }

    /* Header Section */
    header div h3 {
        font-size: 16px;
    }

    nav a {
        display: none;
    }

    #btn-sliderOpen {
        display: block !important;
        font-size: 25px;
        position: fixed;
        top: 20px;
        right: 30px;
        cursor: pointer;
    }

    #btn-sliderClose {
        width: 25px;
        height: 25px;
        font-size: 20px;
        position: fixed;
        top: 30px;
        right: 30px;
        box-sizing: border-box;
        border: none;
        background: none;
        cursor: pointer;
    }

    .slider-block {
        padding-top: 100px;
        width: 80%;
        height: 100vh;
        text-align: center;
        font-size: 20px;
        background-color: rgb(161, 159, 159);
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 5;
    }

    .slider-block a:active {
        color: red;
    }

    /* About Section */
    #about {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
    }

    .aboutChild {
        width: 80%;
        text-align: center;
        height: 400px;
    }

    .about-sk {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-sk h1 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .about-sk p {
        width: auto;
        text-align: center;
    }

    .image-sk img {
        width: 90%;
        animation: img-scale 15s linear 1s infinite;
    }

    @keyframes img-scale {
        0% {
            transform: scale(1) translateY(0px);
        }

        50% {
            transform: scale(1.2) translateY(10px);
        }

        100% {
            transform: scale(1) translateY(0px);
        }
    }

    /* Skills Section */
    #skills {
        height: auto;
    }

    .skill-content p {
        text-align: justify;
    }

    /* F&Q Section */
    #f-q {
        scroll-margin-top: 40px;
        height: auto;
    }
}
